<section class="about-intro">
    <h1>About Prabhjot</h1>
    <img src="/images/prabhjot.jpg" alt="Prabhjot's Profile Picture" class="about-pic">
    <p>
        Born with a passion for technology and a keen sense of curiosity, I am Prabhjot. I embarked on my academic
        journey in computer programming at the esteemed Georgian College in Barrie, Ontario, where I have honed my
        technical skills and developed a solid foundation in software development principles.
    </p>
</section>

<section class="education-background">
    <h2>Education</h2>
    <p>
        I am majoring in Computer Programming at <strong>Georgian College</strong>. Over the years, I have been exposed
        to a myriad of programming languages, development methodologies, and real-world projects that have shaped my
        perspective and expertise in the tech industry.
    </p>
</section>

<section class="interests">
    <h2>Interests & Hobbies</h2>
    <p>
        Beyond the code and screens, I am an avid reader, always eager to dive into the latest tech journals or indulge
        in a fiction novel. Nature trails in Canada's vast landscapes serve as my escape, helping me find balance and
        inspiration.
    </p>
</section>

<section class="skills">
    <h2>Skills</h2>
    <p>
        While my academic journey has equipped me with technical knowledge, I pride myself on my problem-solving skills,
        attention to detail, and ability to collaborate with teams. My coding toolkit includes languages like Python,
        JavaScript, and Java, but I'm always on the lookout to learn and adapt to new technologies.
    </p>
</section>