<section class="contact-intro">
    <h1>Contact Me</h1>
    <p>
        Interested in collaborating or have any queries? Here's how you can reach me. While my primary address is
        associated with Georgian College, you can also drop me a message via email or contact the college directly for
        official communication.
    </p>
</section>

<section class="contact-details">
    <h2>Address</h2>
    <address>
        1 Georgian Dr,<br>
        Barrie, ON L4M 3X9,<br>
        Canada<br>
        <span class="code">C86M+M8 Barrie, Ontario, Canada</span>
    </address>


    <h2>My Email</h2>
    <a href="https://georgiancollege.ca" target="_blank">kaurprabhjot2503@gmail.com</a>

    <h2>Phone Number</h2>
    <a href="tel:+17057281968">+1 705-728-1232</a>
</section>