<section class="projects-header">
    <h1>My Projects</h1>
    <p>
        Explore the projects I've undertaken during my academic journey. They showcase my skills, adaptability, and
        commitment to excellence.
    </p>
</section>

<section class="projects-list">
    <ul>
        <li>
            <h2>Assignment2InterfaceWebDesign</h2>
            <a href="https://github.com/Prabhjot2503/Assignment2InterfaceWebDesign" target="_blank">View on GitHub</a>
        </li>
        <li>
            <h2>COMP2068JSFrameworks</h2>
            <a href="https://github.com/Prabhjot2503/COMP2068JSFrameworks" target="_blank">View on GitHub</a>
        </li>
        <li>
            <h2>InterfaceDesignCSSassignment1</h2>
            <a href="https://github.com/Prabhjot2503/InterfaceDesignCSSassignment1" target="_blank">View on GitHub</a>
        </li>
        <li>
            <h2>COMP2068JSFrameworks1</h2>
            <a href="https://github.com/Prabhjot2503/COMP2068JSFrameworks1" target="_blank">View on GitHub</a>
        </li>
        <li>
            <h2>comp1011Assignment2_200520824</h2>
            <a href="https://github.com/Prabhjot2503/comp1011Assignment2_200520824" target="_blank">View on GitHub</a>
        </li>
        <li>
            <h2>COMP2084ASP.NET</h2>
            <a href="https://github.com/Prabhjot2503/COMP2084ASP.NET" target="_blank">View on GitHub</a>
        </li>
    </ul>
</section>